{% extends "mainapp/base.html" %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for post in object_list %}

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <b>Company: </b>  <a class="mr-2" href="#">{{ post.company_name }}</a>
                <small class="text-muted">{{ post.date_created | date:"F d, Y" }}</small>
                </div>
                <b>City: </b>  <a class="article-title" href="#">{{ post.email }}</a>
                <b>State: </b>  <a class="article-content">{{ post.age }}</a>
                <b>Edit: </b>  <a class="article-content" href="{{ post.id }}/detail">{{ post.id }}</a>
                <br>
                <a class="article-content" href="{{ post.id }}/edit">Edit</a>
            </div>
        </article>
    
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>
    
{% endblock content %}

