{% extends "mainapp/base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<p>Basic information here</p>

<form action="" method="post"> 
    {% csrf_token %}
    
    <article class="media content-section">
        <div class="media-body">
            {{ form.as_p }}
        </div>
    </article>
    
    <br><br>
    
    <article class="media content-section">
        {{ BillLineFormSet.management_form }}
        
        {% for form in BillLineFormSet %}
        <div class="media-body">
                {{ form.as_table }}
        </div>
        {% endfor %}
    </article>
    
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
    
</form>


{% endblock content %}
